body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #252525;
    color: #ffffff;
}
header {
    background-color: #1d1d1d;
    color: rgb(40, 255, 51);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    letter-spacing: 1px;
}
.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}
.panel {
    background-color: #3b3b3b;
    border-left: 5px solid rgb(40, 255, 51);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    margin-bottom: 30px;
}
h2 {
    margin-top: 0;
    color: rgb(40, 255, 51);
    font-size: 1.5em;
}
.input-group {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}
input {
    padding: 10px;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 6px;
    font-size: 1em;
    background-color: black;
    color: #ffffff;
}
button {
    background-color: rgb(40, 255, 51);
    color: black;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
}
button:hover {
    background-color: #74b9ff;
}
.card {
    background-color: black;
    border-left: 4px solid rgb(40, 255, 51);
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actions button {
    background-color: transparent;
    color: rgb(40, 255, 51);
    border: none;
    margin-left: 10px;
    font-size: 1.1em;
    cursor: pointer;
}
.actions button:hover {
    color: #2d3436;
}
@media (max-width: 768px) {
    .input-group {
        grid-template-columns: 1fr;
    }
}